html {
    background-color: #36465D;
    height: 295px;
    width: 470px;
}

p.header {
    width: 470px;
    postion: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: bold;

}

p.footer {
    font-size: 10px;
    float: left;
}

p {
    text-align: center;
    font-family: cursive, "Garamond";/*change to a nice font if possible*/
    color: whitesmoke
}

.status {
    height: 10px;
}
    
.option {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: none;
    outline: 0;
}

.choice {
    height: 100px;
    width: 120px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#options {
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0;
    bottom: 50px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0.25px;
    padding-top: 2px;
    padding-bottom: 1px;
    
}

#choices {
    background-color: white;
    width: 450px;
    height: 120px;
    border-radius: 8px;
    text-align: center;
    padding: 3px;
    
}

.arrow_key {
    height: 50px;
    width: 50px;
}

#left_arrow {
    float: left;
    margin-left: 20px;
}

#right_arrow {
    float: right;
    margin-right: 20px;
}

.usr_btn {
    height: 30px;
}


#save {
    width: 455px;
    height: 30px;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.unclicked_right {
    background-image: url(arrows/unclicked/right.png);
    background-color: whitesmoke;
    background-size: 50px 50px;
    border: none;
    outline: 0;
    
}

.unclicked_left {
    background-image: url(arrows/unclicked/left.png);
    background-color: whitesmoke;
    background-size: 50px 50px;
    border: none;
    outline: 0; 
}

.unclicked_text {
    background-image: url(posts/unclicked_types/text.png);
    background-color: whitesmoke;
    background-size: 50px 50px;

}

.unclicked_image {
    background-image: url(posts/unclicked_types/images.png);
    background-color: whitesmoke;
    background-size: 50px 50px;

}

.unclicked_quote {
    background-image: url(posts/unclicked_types/quotes.png);
    background-color: whitesmoke;
    background-size: 50px 50px;
}

.unclicked_link {
    background-image: url(posts/unclicked_types/links.png);
    background-color: whitesmoke;
    background-size: 50px 50px;
}

